<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <p id="notice"><%= notice %></p>

    <p>
    <strong>お名前</strong>
    <%= @user.name %>
    </p>

    <p>
    <strong>メール</strong>
    <%= @user.email %>
    </p>

    <p>
    <strong>現在ポイント:</strong>
    <%= @user.point %>
    </p>

    <p>
    <% if @user.works.empty? %>
      <div class="alert alert-danger" role="alert">
        作業リストがございません。
      </div>
    <% else %>
      <% @work_detail.each do |w| %>
        <div class="alert alert-info" role="alert">
          <strong>作業タイトル：<%= w.title %></strong><br/>
          <strong>スタート時間：</strong><%= w.begin_time.strftime('%Y/%m/%d %H:%M:%S') %><br/>
          <strong>終了予定時間：</strong><%= w.end_time.strftime('%Y/%m/%d %H:%M:%S') %><br/>
          <p><strong>進捗状況</strong></p>
          <div class="progress">
            <% if w.entire_percent == 100 %>
              <div class=" progress-bar progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= w.entire_percent %>%;">
              <% else %>
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= w.entire_percent %>%;">
                <% end %>
            <%= w.entire_percent %>%
            </div>
          </div>
          <% if !(w.entire_percent == 100) %>
            <% if Time.now > w.end_time %>
              <strong>残り時間：</strong>時間が過ぎた作業です。<br/>
            <% else %>
              <strong>残り時間：</strong><span id="clock_<%= w.id %>"></span>
            <% end %>
          <% end %>
          <p><strong>作業内容</strong></p>
          <pre><%= w.content %></pre>
          <% @work_details = WorkDetail.where(["user_id = ? and work_id = ?", w.user_id, w.id]) %>
          <% unless @work_details.nil? %>
          <p><strong>詳細リスト</strong></p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>番号</th>
                  <th>内容</th>
                  <th>状態</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% count = 1 %>
                <% @work_details.each do |d| %>
              <tr>
                <td><%= count %></td>
                <td><%= d.content_detail %></td>
                <td>
                  <% if d.completion %>
                    完了
                  <% else %>
                    進行中
                  <% end %>
                </td>
                <% if d.completion  %>
                  <td></td>
                <% else %>
                  <% if @user.id == current_user.id %>
                  <td>
                    <%= link_to "完了", user_work_work_details_path(id: d.id, user_id: d.user_id, work_id: d.work_id, page: params[:page]), method: :patch %>
                  </td>
                  <% else %>
                  <td></td>
                  <% end %>
                <% end %>
              </tr>
            </tbody>
            <% count = count + 1 %>
              <% end %>
            </table>
            <% end %>
        </div>
      <% end %>
    <% end %>
    <div style='text-align:center;'>
      <%= paginate @work_detail %>
    </div>
    </p>
      <% if @user.id == current_user.id %>
      <%= link_to 'リスト作成', new_user_work_path(@work,user_id: @user.id),as: :post, class: "btn btn-success" %>
    <% end %>
    <%= link_to 'Back', users_path, class: "btn btn-info" %>
  </div>
</div>
<script>
  <% @work_detail.each do |w|  %>
    <% s = Time.now %>
    <% r = TimeDifference.between(s, w.end_time).in_general %>
    $("#clock_<%= w.id %>").countdown({until: '+<%= r[:days] %>d +<%= r[:hours] %>h +<%= r[:minutes] %>m +<%= r[:seconds]%>s', layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}'});
  <% end %>
</script>
